*~
.DS_Store
._*
*.d
*.db
*.o
*.pyc
/bin64
/build/BUILD.*
/build/COMP.mac
/centos
/ilib64
/lib64
/mac
/Makefile.config.*
/reconfigure
/schema
/test-bin64
/win
*.log
/.cproject
/.project
/.pydevproject
*.stash
tmp.kfg
*/xcuserdata/*
.vscode
.gdb_history
.vs
(null)
a.out
a.out.dSYM
/test/**/actual/
core
*.egg-info/
