#home_view
{
   background: rgba(255,255,255,0.7);
}


#tabBar
{
  background: rgba(70,102,152,1.0);
  /*background: rgba(0,0,0,0.3);*/
}


#diagnostics_button
{
   background: transparent;
}


#diagnostics_button:checked, #diagnostics_button:hover
{
   background: rgba(0,0,0,0.4);
}


#start_diagnostics_button
{
   background: rgba(70,102,152,1.0);
   color: white;
}

#cancel_diagnostics_button
{
   background: rgba(204,0,0,1.0);
   color: white;
}

#diagnostics_metadata
{
   background: rgba(255,255,255,0.7);
}

/*
Examples

qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
   stop: 0 rgba(125,185,232,0.5),
   stop: 0.5 #2989d8,
   stop: 1.0 #1e5799 );
*/
